In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('../data/01_raw/dataset_kobe_dev.parquet')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24271 entries, 0 to 30696
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         24271 non-null  object
 1   combined_shot_type  24271 non-null  object
 2   game_event_id       24271 non-null  int64
 3   game_id             24271 non-null  int64
 4   lat                 24271 non-null  float64
 5   loc_x               24271 non-null  int64
 6   loc_y               24271 non-null  int64
 7   lon                 24271 non-null  float64
 8   minutes_remaining   24271 non-null  int64
 9   period              24271 non-null  int64
 10  playoffs            24271 non-null  int64
 11  season              24271 non-null  object
 12  seconds_remaining   24271 non-null  int64
 13  shot_distance       24271 non-null  int64
 14  shot_made_flag      20285 non-null  float64
 15  shot_type           24271 non-null  object
 16  shot_zone_area      24271 non-null  object
 17  shot_zone_basic     24271 non-null  object
 18  shot_zone_range     24271 non-null  object
 19  team_id             24271 non-null  int64
 20  team_name           24271 non-null  object
 21  game_date           24271 non-null  object
 22  matchup             24271 non-null  object
 23  opponent            24271 non-null  object
 24  shot_id             24271 non-null  int64
dtypes: float64(3), int64(11), object(11)
memory usage: 4.8+ MB

In [5]:
df[['lat','lon','minutes_remaining','period','playoffs','shot_distance','shot_made_flag']]

,lat,lon,minutes_remaining,period,playoffs,shot_distance,shot_made_flag
0,33.9723,-118.1028,10,1,0,18,NaN
1,34.0443,-118.4268,10,1,0,15,0.0
2,33.9093,-118.3708,7,1,0,16,1.0
3,33.8693,-118.1318,6,1,0,22,0.0
4,34.0443,-118.2698,6,2,0,0,1.0
...,...,...,...,...,...,...,...
30691,34.0443,-118.2698,7,4,1,0,0.0
30692,33.9963,-118.2688,6,4,1,4,0.0
30693,34.0443,-118.2698,6,4,1,0,NaN
30694,33.8783,-118.4038,3,4,1,21,1.0
30696,33.9723,-118.2688,0,4,1,7,0.0

In [6]:
data= df[['lat','lon','minutes_remaining','period','playoffs','shot_distance','shot_made_flag']]

In [7]:
data = data.dropna()

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20285 entries, 1 to 30696
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lat                20285 non-null  float64
 1   lon                20285 non-null  float64
 2   minutes_remaining  20285 non-null  int64
 3   period             20285 non-null  int64
 4   playoffs           20285 non-null  int64
 5   shot_distance      20285 non-null  int64
 6   shot_made_flag     20285 non-null  float64
dtypes: float64(3), int64(4)
memory usage: 1.2 MB

In [9]:
data['shot_made_flag'] = data['shot_made_flag'].astype(int)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20285 entries, 1 to 30696
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   lat                20285 non-null  float64
 1   lon                20285 non-null  float64
 2   minutes_remaining  20285 non-null  int64
 3   period             20285 non-null  int64
 4   playoffs           20285 non-null  int64
 5   shot_distance      20285 non-null  int64
 6   shot_made_flag     20285 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 1.2 MB